.container  , .background{
  position: fixed;
  top: 0;
  left: 0;
  right: -100%;
  bottom: -100%;
  width: 200vw;
  height: 200vh;
}

.background{
  background-color: rgba(0, 0, 0, 0.779);
  cursor: pointer;
}

.model {
  background-color: rgb(43, 44, 55);
  position: relative;
  top: 13%;
  left: 13%;
  width: 50vw;
  height: max-content;
  border-radius: 15px;
  padding: 25px;
}

form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.add {
  font-weight: 400;
  font-size: 20px;
  padding: 15px 0;
}

.title-label,
.descripion-label {
  margin: 5px 0 10px;

}

.title-input,
.descripion-input {
  width: 100%;
  padding: 10px 15px;
  background-color: transparent;
  border: 2px solid #a2a2a9;
  color: rgba(255, 255, 255, 0.34);
  border-radius: 6px;

}

.descripion-label {
  margin-top: 30px;
}

.submitBtn {
  background-color: rgb(73, 196, 229);
  border: none;
  margin: 20px 0;
  padding: 15px 0;
  border-radius: 24px;
  font-weight: 700;
  width: 100%;
  transition: all ease-in-out 0.2s;
}

.submitBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.submitBtn:active {
  scale: 0.7;
}

.options {
  width: 100%;
}

.select {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  margin: 20px 0;
  cursor: pointer;
}

.opt {
  text-transform: capitalize;
  cursor: pointer;
}