.role {
          background-color: rgb(43, 44, 55);
          color: white;
          width: 100vw;
          height: 100vh;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
}

.role-header {
          font-weight: 900;
          text-transform: uppercase;
          text-decoration: underline;
}

.role-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 100px;

}

.role-child {
          background-color: rgba(240, 248, 255, 0.368);
          width: 110%;
          height: 110%;
          padding: 20px;
          border-radius: 23px;
          cursor: pointer;
          transition: all ease-in-out 0.2s;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          flex-direction: column;
}

.role-child h1{
          text-transform: lowercase;
}

.role-child:hover {
          scale: 1.2;
}

.role-child:active{
          opacity: 0.6;
}

.avatars {
          width: 100px;
          height: 100px;
}

.error-page{
          text-align: center;
          font-style: italic;
}

.error-paragraph{
          margin: 90px 0 120px;
          font-size: 30px;

}